<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">create</property>


        <!--        <mapping class="com.foretruff.entity.User"/>-->
        <!--        <mapping class="com.foretruff.entity.Company"/>-->
        <mapping class="comm.foretruff.entity.User"/>
        <mapping class="comm.foretruff.entity.Company"/>
        <mapping class="comm.foretruff.entity.Profile"/>
        <mapping class="comm.foretruff.entity.Chat"/>
        <mapping class="comm.foretruff.entity.UserChat"/>
        <mapping class="comm.foretruff.entity.LocaleInfo"/>
        <mapping class="comm.foretruff.entity.Manager"/>
        <mapping class="comm.foretruff.entity.Programmer"/>
        <mapping class="comm.foretruff.entity.Payment"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>